
<h1>Käyttöohje</h1>
<div class="help-info">
  <h2>Varaukset</h2>
  <p>Käytettävissä olevat varaukset ovat näkyvissä varauskalenterin näytön yläosassa keskellä.</p>
  <%= image_tag "varaus_molemmat.png" %>
  <p>Mikäli varaus on aktiivinen, varauksen yhteydessä on tieto varauksen ajankohdasta - päivä ja aika.</p>
  <%= image_tag "varaus_kaytossa.png" %>
  <p>Käyttämättömässä varauksessa on tieto 'ei käytössä'.</p>
  <p> <%= image_tag "varaus_eikaytossa.png" %> </P>
  <h3>Ajan varaus</h3>
  <p>Varaus tehdään valitsemalla vapaana oleva varattava aika. Valinta vahvistetaan painamalla esiin tulevaa vahvistus painiketta.</p>
  <%= image_tag "varaaminen1.png" %>
  <p>Onnistunut varaus näkyy varattavassa aikaruudussa ja sovelluksen tilakentässä olevassa viestissä.</p>
  <p> <%= image_tag "varaaminen2.png" %> </p>
  <p> <%= image_tag "varaaminen3.png" %> </p>

  <h3>Varauksen poisto</h3>
  <p>Varaukset poistuvat automaattisesti, kun varauksen aika on mennyt ohi.</p>
  <p>Varauksen voi poistaa ja ajan vapauttaa muille tarvittaessa. Vapautus tapahtuu samoin kuin varaus. Etsi kalenterista aktiivinen varaus ja napauta sitä. Vahvista varauksen poisto esiin tulevasta painikkeesta.</p>
  <p> <%= image_tag "poisto1.png" %> </p>
  <p> <%= image_tag "poisto2.png" %> </p>

  <h3>Sauna</h2>
  <p>Jokaisella asunnolla on mahdollisuus varata yksi vapaa vuoro kertavarauksena. Kun vuoro on käytetty, voi varauksen uusia mikäli vapaita vuoroja on käytettävissä.</p>
  <p>Asunnoilla, joilla on vakiovuoro, näkyy kalenterissa myös vakiovuoron varaus. Vakiovuoroa on mahdollisuus siirtää vapauttamalla nykyinen varaus ja varaamalla heti perään uusi aika.</p>

  <h3>Kuivaushuone</h2>
  <p>Jokaisella asunnolla on yksi kertavaraus kuivaushuoneen varaukseen. Vakiovarauksia ei ole ollenkaan. Voimassa voi olla kerrallaan yksi varaus.</p>
</div>
