<% provide(:title, 'Luo isännöitsijä') %>
<h1>Luo uusi isännöitsijä</h1>
<%= form_for(@admin) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <br>
  <%= f.label :email %>
  <br>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation, "Confirmation" %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "Luo isännöitsijä" %>
<% end %>
