<% provide(:title, 'Luo Omistaja') %>
<h1>Luo uusi Omistaja</h1>
<%= form_for(@owner) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <br>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.submit "Luo Omistaja" %>
<% end %>
