
<h2>Omistaja: <%= @owner.name %></h2>
<%= link_to "Luo uusi Resurssi", new_reservation_target_path(@owner) %>
<div class="reservation-target-list-cont">
  <% if @owner.reservation_targets.any? %>
    <h3>Resursseja: (<%= @owner.reservation_targets.count %>)</h3>
    <ol class="reservation-target-list">
      <%= render @reservation_targets %>
    </ol>
  <% end %>
  <h3> Tapahtumat: </h3>
  <% @logentries.each do |e| %>
    <li><%= e.logstr %> </li>
  <% end %>
  <h3> Palautteet: </h3>
  <% @feedback.each do |f| %>
    <li><%= f.feedbackText %> </li>
    <br>
  <% end %>
</div>
