
<%
  @dayNames = ["Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai", "Sunnuntai"]
%>

<h2>Omistaja: <%= @owner.name %></h2>
    <h3>Varauskohteet: (<%= @owner.reservation_targets.count %>)</h3>
      <% @reservation_targets.each do |t| %>
        <h4> <%= t.name %>  vakiovuorot</h4>
        <%
        @slots = ReservationSlot.where(reservation_target_id: t.id).order(:day)
        @slotsFound = false
        @slots.each do |s|
          if s.reservation_token_id != nil
            @token = ReservationToken.find_by_id(s.reservation_token_id)
            @user = User.find_by_id(@token.user_id)
            if @token.tokenType == 1 ## Only Permanent tokens
              @slotsFound = true
              if(s.startTime < 1000)
                @timeString =  s.startTime.to_s.slice(0) + ":" + s.startTime.to_s.slice(1..2)
              else
                @timeString =  s.startTime.to_s.slice(0..1) + ":" + s.startTime.to_s.slice(2..3)
              end

              if(s.endTime < 1000)
                @timeString += "-" + s.endTime.to_s.slice(0) + ":" + s.endTime.to_s.slice(1..2)
              else
                @timeString += "-" + s.endTime.to_s.slice(0..1) + ":" + s.endTime.to_s.slice(2..3)
              end

        %>
          <p style="font-size:2em"> <%= @dayNames[s.day-1] %> : <%= @timeString %>  :  <%= @user.name %><p>
        <%
            end
          end
        end
        if !@slotsFound
        %>
          <p style="font-size:2em"> Ei vakiovuoroja.<p>
        <%
        end
        %>
      <% end %>
  <h3> Tapahtumat: </h3>
  <% @logentries.each do |e| %>
    <li><%= e.logstr %> </li>
  <% end %>
  <h3> Palautteet: </h3>
  <% @feedback.each do |f| %>
    <li><%= f.feedbackText %> </li>
    <br>
  <% end %>
