
<div class="page-header-narrow">
  <h1>Kirjaudu sisään</h1>
</div>

<div>
  <%= form_for(:usersession, url: userlogin_path) do |f| %>

    <%= f.label :name, "Käyttäjä" %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password, "Salasana" %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Kirjaudu", class: "submit" %>
  <% end %>
</div>
