
    <%
    @isNotInHistory = true
    if( DateTime.now.strftime("%u").to_i == reservation_slot.day)
      @timenow = DateTime.now.strftime("%k").to_i * 100 + DateTime.now.strftime("%M").to_i
      if(reservation_slot.startTime < @timenow)
        @isNotInHistory = false
      end
    end

    if(reservation_slot.startTime < 1000)
      @timeString =  reservation_slot.startTime.to_s.slice(0) + ":" + reservation_slot.startTime.to_s.slice(1..2)
    else
      @timeString =  reservation_slot.startTime.to_s.slice(0..1) + ":" + reservation_slot.startTime.to_s.slice(2..3)
    end

    if(reservation_slot.endTime < 1000)
      @timeString += "-" + reservation_slot.endTime.to_s.slice(0) + ":" + reservation_slot.endTime.to_s.slice(1..2)
    else
      @timeString += "-" + reservation_slot.endTime.to_s.slice(0..1) + ":" + reservation_slot.endTime.to_s.slice(2..3)
    end


    %>


    <%# reserved slots %>
    <% if reservation_slot.reservation_token_id != nil %>

      <%
        @tokenOfSlot = ReservationToken.find_by_id(reservation_slot.reservation_token_id)
        @userId = @tokenOfSlot.user_id
        @userName = User.find_by_id(@userId).name
      %>

      <%# other reserves %>
      <% if @userId != current_user.id %>

        <% if (@tokenOfSlot.tokenType == token_type_permanent()) %>

          <%# reserved nonclickable slot weekly %>
          <%= link_to(reservation_slot, class: "others-slot nonclickable") do %>
            <div class="indicator weekly-ind"></div>
              <%= render 'reservation_slots/resinfo' %>
                <p class="slot-state">
                  Vakiovaraus
                </p>
              </div>
          <% end %>

        <% else %>

          <%# reserved nonclickable slot one time%>
          <%= link_to(reservation_slot, class: "others-slot nonclickable") do %>
            <div class="indicator onetime-ind"></div>
              <%= render 'reservation_slots/resinfo' %>
                <p class="slot-state">
                  Kertavaraus
                </p>
              </div>
          <% end %>

        <% end %>


      <%# own reserves %>
      <% else %>

        <% if (@tokenOfSlot.tokenType == token_type_permanent()) %>

          <%# reserved clickable slot weekly %>
          <%= link_to(reservation_slot, class: "own-slot") do %>
            <div class="indicator weekly-ind"></div>
              <%= render 'reservation_slots/resinfo' %>
                <p class="slot-state">
                  Vakiovaraus
                </p>
              </div>
          <% end %>

        <% else %>

          <%# reserved clickable slot one time %>
          <%= link_to(reservation_slot, class: "own-slot") do %>
            <div class="indicator onetime-ind"></div>
              <%= render 'reservation_slots/resinfo' %>
                <p class="slot-state">
                  Kertavaraus
                </p>
              </div>
          <% end %>

        <% end %>



      <% end %>

    <%# free slots %>
    <% else %>

      <% @userName = "-" %>
      <%# free clickable slot %>
      <%= link_to(reservation_slot, class: "free-slot") do %>
        <div class="indicator free-ind"></div>
          <div class="res-info-container">
            <p class="res-time"><%= @timeString %></p>
            <p class="res-username hidden"><%= @userName %></p>
            <p class="slot-state">
              Vapaa
            </p>
          </div>
      <% end %>

    <% end %>
