<% @slotidstring = "slotid-" << reservation_slot.id.to_s %>

    <%
    @isNotInHistory = true
    if( DateTime.now.strftime("%u").to_i == reservation_slot.day)
      @t_hours = DateTime.now.utc.strftime("%k").to_i
      @t_hours = @t_hours + 3

      @timenow = @t_hours * 100 + DateTime.now.strftime("%M").to_i
      if(reservation_slot.startTime < @timenow)
        @isNotInHistory = false
      end
    end

    if(reservation_slot.startTime < 1000)
      @timeString =  reservation_slot.startTime.to_s.slice(0) + ":" + reservation_slot.startTime.to_s.slice(1..2)
    else
      @timeString =  reservation_slot.startTime.to_s.slice(0..1) + ":" + reservation_slot.startTime.to_s.slice(2..3)
    end

    if(reservation_slot.endTime < 1000)
      @timeString += "-" + reservation_slot.endTime.to_s.slice(0) + ":" + reservation_slot.endTime.to_s.slice(1..2)
    else
      @timeString += "-" + reservation_slot.endTime.to_s.slice(0..1) + ":" + reservation_slot.endTime.to_s.slice(2..3)
    end


    %>


    <%# reserved slots %>
    <% if reservation_slot.reservation_token_id != nil %>

      <%
        @tokenOfSlot = ReservationToken.find_by_id(reservation_slot.reservation_token_id)
        @userId = @tokenOfSlot.user_id
        @userName = User.find_by_id(@userId).name
      %>

      <%# other reserves %>
      <% if @userId != current_user.id %>

        <% if (@tokenOfSlot.tokenType == token_type_permanent()) %>

          <%# reserved nonclickable slot weekly %>
          <div id="others-slot" class="others-slot slot">
            <div class="indicator weekly-ind"></div>
            <div class="res-info-container">
              <p class="res-time"><%= @timeString %></p>
              <p class="res-username"><%= @userName %></p>
              <p class="slot-state">Vakiovaraus</p>
            </div>
          </div>

        <% else %>

          <%# reserved nonclickable slot one time%>
          <div id="others-slot" class="others-slot slot">
            <div class="indicator onetime-ind"></div>
            <div class="res-info-container">
              <p class="res-time"><%= @timeString %></p>
              <p class="res-username "><%= @userName %></p>
              <p class="slot-state">Kertavaraus</p>
            </div>
          </div>

        <% end %>


      <%# own reserves %>
      <% else %>

        <% if (@tokenOfSlot.tokenType == token_type_permanent()) %>

          <%# reserved clickable slot weekly %>
          <div id="<%= @slotidstring %>" class="own-slot slot">
            <div class="indicator weekly-ind"></div>
            <div class="res-info-container">
              <p class="res-time no-confirm"><%= @timeString %></p>
              <p class="res-username no-confirm"><%= @userName %></p>
              <p class="slot-state no-confirm">
                Vakiovaraus
              </p>
              <p class="confirmation-text confirm">Haluatko poistaa varauksen <%= @timeString %>?</p>
              <%= link_to "Poista", reservation_slot, class: "confirm-ok confirm red" %>
              <%# <a class="confirm-cancel confirm">Ei</a> %>
            </div>
          </div>

        <% else %>

          <%# reserved clickable slot one time %>
          <div id="<%= @slotidstring %>" class="own-slot slot">
            <div class="indicator onetime-ind"></div>
            <div class="res-info-container">
              <p class="res-time no-confirm"><%= @timeString %></p>
              <p class="res-username no-confirm"><%= @userName %></p>
              <p class="slot-state no-confirm">
                Kertavaraus
              </p>
              <p class="confirmation-text confirm">Haluatko poistaa varauksen <%= @timeString %>?</p>
              <%= link_to "Poista", reservation_slot, class: "confirm-ok confirm red" %>
              <%# <a class="confirm-cancel confirm">Ei</a> %>
            </div>
          </div>

        <% end %>



      <% end %>

    <%# free slots %>
    <% else %>
          <% @userName = "-" %>
            <% if (@isNotInHistory) %>
            <%# free clickable slot %>
            <div id="<%= @slotidstring %>" class="free-slot slot">
              <div class="indicator free-ind"></div>
              <div class="res-info-container">
                <p class="res-time no-confirm"><%= @timeString %></p>
                <p class="res-username hidden no-confirm"><%= @userName %></p>

              <% if (find_token_for_current_user(reservation_slot) != nil ) %>
                        <p class="slot-state no-confirm">Vapaa</p>
                        <p class="confirmation-text confirm">Haluatko varata ajan <%= @timeString %>?</p>
                        <%= link_to "Varaa", reservation_slot, class: "confirm-ok confirm green" %>
                        <%# <a class="confirm-cancel confirm">Ei</a> %>
              <%else %>
                        <p class="slot-state no-confirm">Ei varauksia</p>
                        <p class="confirmation-text confirm">Kaikki varaukset käytössä.</p>
                        <%= link_to "Takaisin", "/reservation_targets/" + reservation_slot.reservation_target_id.to_s, class: "confirm-ok confirm blue" %>
              <% end %>

              </div>
            </div>

      <% else %>

      <%# free NOT-clickable slot %>
      <div id="<%= @slotidstring %>" class="free-slot slot">
        <div class="indicator unavailable-ind"></div>
        <div class="res-info-container">
          <p class="res-time no-confirm"><%= @timeString %></p>
          <p class="res-username hidden no-confirm"><%= @userName %></p>

          <p class="slot-state no-confirm">Ei varattavissa tänään</p>
          <p class="confirmation-text confirm">Ei varattavissa tänään. Palaa takaisin huomenna!</p>
          <%= link_to "Takaisin", "/reservation_targets/" + reservation_slot.reservation_target_id.to_s, class: "confirm-ok confirm blue" %>
        </div>
      </div>

      <% end %>
    <% end %>
