
    <%
    @isNotToday = DateTime.now.strftime("%u").to_i != reservation_slot.day


    if @isNotToday %>
      <td>
    <% else %>
     <td style="background-color: lightblue">
    <% end %>

    <%
    if reservation_slot.reservation_token_id != nil
      @userId = ReservationToken.find_by_id(reservation_slot.reservation_token_id).user_id
      @userName = User.find_by_id(@userId).name
    else
      @userId = 0
    end

    current_user
    %>

    <%if (@isNotToday) %>
      <%if (@userId == @current_user.id) %>
        <p class="table-slot-release">
        <%= link_to reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s, reservation_slot %>
        </p>
      <%elsif (reservation_slot.reservation_token_id == nil) %>
        <p class="table-slot-reserve">
        <%= link_to reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s, reservation_slot %>
      </p>
      <%else%>
      <p class="table-slot-noaction">
        <%= reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s %>
      </p>
      <%end%>
    <% else %>
    <p class="table-slot-noaction">
      <%= reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s %>
    </p>
    <% end %>

    <% if @userId != 0 %>
    <p class="table-user-name"><%= @userName %> </p>
    <%end%>

    </td>
