<% provide(:title, 'Luo Taloyhtiö') %>
<h1>Luo uusi Taloyhtiö</h1>
<%= form_for(@housing) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <br>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.submit "Luo Taloyhtiö" %>
<% end %>
