<%
  @dayNames = ["Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai", "Sunnuntai"]
  @todayDayNum = DateTime.now.strftime("%u").to_i
%>

<div class="reservation-target-container">
  <div class="help-container">
    <%= link_to "Käyttöohje", help_path, class: "corner-button text-link" %>
  </div>
  <span>Kuivaushuoneen varausaikoja on lyhennetty ja jokaiselle käyttäjälle annettu 2 varausta käyttöön.</span><br>
  <div class="page-header-wide">
    <h1 class=""><%= @target.name %></h1>
  </div>

  <div class="own-schema-container">
    <div class="date-container">
      <p class="date"> Varauksesi </p>
    </div>
    <div class="slots-container">
      <% if (@userTokens.count != 0) %>
        <%= render @userTokens%>
      <% else %>
        <h2 class="getnew warning">Et voi varata vuoroja.</h2>
      <% end %>
    </div>
      <%# uncomment the following line to enable modifying tokens %>
      <%#= render 'reservation_targets/getnew' %>
  </div>

<% for @dayIndex in 1..@target.timeWindowInDays
      @di = get_adjusted_day_index(@todayDayNum, @dayIndex)
      @slotsForTheDay = @reservation_slots.where("day = ?", @di).order(:startTime)
      if(@slotsForTheDay.count > 0) %>

        <div class="schema-day-container">
          <div class="date-container">
            <p class="date"><%= @dayNames[@di-1] %></p>
          </div>
          <div class="slots-container">
            <%= render @slotsForTheDay %>
          </div>
        </div>
      <% end
   end %>


</div>

<script>
$(document).ready(function(){
  $('.slot').click(function(){
    var slotid = this.id;

    if ($('#'+slotid+' > .res-info-container > .no-confirm').is(":visible")) {

      // close others
      $('.confirm').hide(0);
      $('.no-confirm').show(0);

      //open slot
      $('#'+slotid+' > .res-info-container > .no-confirm').hide(0);
      $('#'+slotid+' > .res-info-container > .confirm').slideDown(50);
    } else if (slotid == "others-slot") {
      $('.confirm').hide(0);
      $('.no-confirm').show(0);
    }
  });
});
</script>
