<h1>Uusi varaus</h1>
<h2 class="middle">Kohde: <%= @target.name %></h2>
<%= link_to "Takaisin", "/reservation_targets/" + @target.id.to_s, class: "link-button button-large blue" %>
<% if(@target.category == 1)%>
  <div id="vakio-res" class="button-confirmable button-large green">
    <p class="confirmable-text">Luo Vakiovaraus</p>
    <%= link_to "Luo", createtoken_path(reservation_target_id: @target.id, tokenType: 1), method: "post", class: "confirm-button" %>
  </div>

<%end%>

  <div id="kerta-res" class="button-confirmable button-large green">
    <p class="confirmable-text">Luo Kertavaraus</p>
    <%= link_to "Luo", createtoken_path(reservation_target_id: @target.id, tokenType: 2), method: "post", class: "confirm-button" %>
  </div>


<%
@tokensToRemove.each do |t|

  @buttonid = "buttonid-" << t.id.to_s

  @tokenText1 = ""
  @tokenText2 = ""
  if (t.tokenType == 1)
    @tokenText1 = "Vakiovaraus"
    @tokenText2 = "Vakiovarauksen"
  end
  if (t.tokenType == 2)
    @tokenText1 = "Kertavaraus"
    @tokenText2 = "Kertavarauksen"
  end

  if(ReservationSlot.find_by(reservation_token_id: t.id) == nil)
%>

  <div id="<%= @buttonid %>" class="button-confirmable button-large red">
    <p class="confirmable-text">Poista <%= @tokenText1 %></p>
    <%= link_to  "Poista", removetoken_path(id: t.id, reservation_target_id: @target.id), method: "post", class: "confirm-button" %>
  </div>
  <%end%>
<%end%>

<p class="note">HUOM! Voit ainoastaan poistaa ei-käytössä olevia varauksia.</p>

<script>
$(document).ready(function(){
  $('.button-confirmable').click(function(){
    var buttonid = this.id;

    if (!$('#'+buttonid+' > .confirm-button').is(":visible")) {

      // close others
      $('.confirm-button').hide(0);

      //open slot
      $('#'+buttonid+' > .confirm-button').slideDown(50);
    }
  });
});
</script>
