<header>
  <div class="topbar">
    <%= link_to "Taloyhtiöappi", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Koti", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Luo isännöitsijä", create_admin_path %></li>        
        <% if logged_in? %>
          <li><%= link_to "Profiili", current_admin %></li>
          <li><%= link_to "Asetukset", '#' %></li>
          <li><%= link_to "Kirjaudu ulos", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Kirjaudu isännöitsijänä", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
