<!DOCTYPE html>
<html>
<head>
  <title>Varaukset</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
  <%= render 'layouts/shim' %>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
  <%= render 'layouts/header_user' %>
  <div class="body-container">
    <% flash.each do |message_type, message| %>
      <div class="flash">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer_user' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
