<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header_user' %>
  <% flash.each do |message_type, message| %>
    <div class="flash">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer_user' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
